#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid rgb(0, 162, 255);
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

body
{
background-image: linear-gradient(to right top, #0084ff, #34d925, #c11818, #ffae00, #940088, #55150a, #ffe600);
}